<!doctype html>	
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{ meeting.title }}</title>
  <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='meeting.js') }}"></script>
</head>
<body>

  <h1>{{ meeting.title }}</h1>
  
  <p>
  {% if meeting.detail_url %}
    <a href="{{ meeting.detail_url }}">{{ meeting.title }}</a>
  {% else %}
    {{ meeting.title }}
  {% endif %}
  の出席登録ページです。</p>
  
  <div id="tabs">
    <ul>
      <li><a href="#tabs-entry">参加申込</a></li>
      <li><a href="#tabs-search">参加者検索</a></li>
    </ul>
    <div id="tabs-entry">
      <h2>参加申込</h2>
      {% if meeting.accept_entry %}
      <form id="form-entry" action="entry/" method="POST">
        <div class="inputSection">
          {% if meeting.entryitem.name1 %}
          <div class="inputItem {% if meeting.entryitem.name1.required %}required{% endif %}">
            <label for="name1" class="itemName">{{ meeting.entryitem.name1.namej }}</label>
            <input name="name1" type="text" placeholder="{{ meeting.entryitem.name1.placeholder }}" />
            <span id="name1-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.name2 %}
          <div class="inputItem {% if meeting.entryitem.name2.required %}required{% endif %}">
            <label for="name2" class="itemName">{{ meeting.entryitem.name2.namej }}</label>
            <input name="name2" type="text" placeholder="{{ meeting.entryitem.name2.placeholder }}" />
            <span id="name2-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.group1 %}
          <div class="inputItem {% if meeting.entryitem.group1.required %}required{% endif %}">
            <label for="group1" class="itemName">{{ meeting.entryitem.group1.namej }}</label>
            <select name="group1">
            {% for o in meeting.entryitem.group1.options %}
                <option value="{{ o[0] }}">{{ o[1] }}</option>
            {% endfor %}
            </select>
            <span id="group1-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.group2 %}
          <div class="inputItem {% if meeting.entryitem.group2.required %}required{% endif %}">
            <label for="group2" class="itemName">{{ meeting.entryitem.group2.namej }}</label>
            <input name="group2" type="text" placeholder="{{ meeting.entryitem.group2.placeholder }}"/>
            <span id="group2-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.email %}
          <div class="inputItem {% if meeting.entryitem.email.required %}required{% endif %}">
            <label for="email" class="itemName">{{ meeting.entryitem.email.namej }}</label>
            <input name="email" type="text" placeholder="{{ meeting.entryitem.email.placeholder }}"/>
            <span id="email-error" class="errorMessage"></span>
          </div>
          {% endif %}
        </div>
        <div class="inputSection">
          {% if meeting.entryitem.attendance1 %}
          <div class="inputItem {% if meeting.entryitem.attendance1.required %}required{% endif %}">
            <label for="attendance1" class="itemName">{{ meeting.entryitem.attendance1.namej }}</label>
            <input name="attendance1" type="radio" value="true" id="attendance1-true"><label for="attendance1-true">ご出席</label>
            <input name="attendance1" type="radio" value="false" id="attendance1-false"><label for="attendance1-false">ご欠席</label>
            <span id="attendance1-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.attendance2 %}
          <div class="inputItem {% if meeting.entryitem.attendance2.required %}required{% endif %}">
            <label for="attendance2" class="itemName">{{ meeting.entryitem.attendance2.namej }}</label>
            <input name="attendance2" type="radio" value="true" id="attendance2-true"><label for="attendance2-true">ご出席</label>
            <input name="attendance2" type="radio" value="false" id="attendance2-false"><label for="attendance2-false">ご欠席</label>
            <span id="attendance2-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.anonymous %}
          <div class="inputItem {% if meeting.entryitem.anonymous.required %}required{% endif %}">
            <label for="anonymous" class="itemName">{{ meeting.entryitem.anonymous.namej }}</label>
            <input name="anonymous" type="radio" value="false" id="anonymous-false"><label for="anonymous-false">公開可</label>
            <input name="anonymous" type="radio" value="true" id="anonymous-true"><label for="anonymous-true">匿名希望</label>
            <span id="anonymous-error" class="errorMessage"></span>
          </div>
          {% endif %}
        </div>
        <div class="inputSection">
          {% if meeting.entryitem.message %}
          <div class="inputItem {% if meeting.entryitem.message.required %}required{% endif %}">
            <label for="message" class="itemName">{{ meeting.entryitem.message.namej }}</label>
            <textarea name="message" placeholder="{{ meeting.entryitem.message.placeholder }}"></textarea>
            <span id="message-error" class="errorMessage"></span>
            <p>※出席者検索サイトには表示されません。総会当日に会場に掲示されます。</p>
          </div>
          {% endif %}
        </div>
        <div class="inputSection">
          <p>連絡先に変更のある方は以下にご記入ください。</p>
          {% if meeting.entryitem.zip %}
          <div class="inputItem {% if meeting.entryitem.zip.required %}required{% endif %}">
            <label for="zip1" class="itemName">{{ meeting.entryitem.zip.namej }}</label>
            <input name="zip1" type="text" size="3" maxlength="3"> -
            <input name="zip2" type="text" size="4" maxlength="4">
            <button id="zip2address">郵便番号から住所を自動入力</button>
            <span id="zip1-error" class="errorMessage"></span>
            <span id="zip2-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.address %}
          <div class="inputItem {% if meeting.entryitem.address.required %}required{% endif %}">
            <label for="address" class="itemName">{{ meeting.entryitem.address.namej }}</label>
            <input name="address" type="text" placeholder="{{ meeting.entryitem.address.placeholderj }}">
            <span id="address-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.tel %}
          <div class="inputItem {% if meeting.entryitem.tel.required %}required{% endif %}">
            <label for="tel" class="itemName">{{ meeting.entryitem.tel.namej }}</label>
            <input name="tel" type="text" placeholder="{{ meeting.entryitem.tel.placeholderj }}">
            <span id="tel-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.fax %}
          <div class="inputItem {% if meeting.entryitem.fax.required %}required{% endif %}">
            <label for="fax" class="itemName">{{ meeting.entryitem.fax.namej }}</label>
            <input name="fax" type="text" placeholder="{{ meeting.entryitem.fax.placeholderj }}">
            <span id="fax-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.office %}
          <div class="inputItem {% if meeting.entryitem.office.required %}required{% endif %}">
            <label for="office" class="itemName">{{ meeting.entryitem.office.namej }}</label>
            <input name="office" type="text" placeholder="{{ meeting.entryitem.office.placeholderj }}">
            <span id="office-error" class="errorMessage"></span>
          </div>
          {% endif %}
          {% if meeting.entryitem.officetel %}
          <div class="inputItem {% if meeting.entryitem.officetel.required %}required{% endif %}">
            <label for="officetel" class="itemName">{{ meeting.entryitem.officetel.namej }}</label>
            <input name="officetel" type="text" placeholder="{{ meeting.entryitem.officetel.placeholderj }}">
            <span id="officetel-error" class="errorMessage"></span>
          </div>
          {% endif %}
        </div>
        <div>
          <input type="submit" id="button-entry" value="登録" />
        </div>
      </form>
      {% else %}
      <div>ただいま参加申込は受け付けておりません</div>
      {% endif %}
    </div>
    <div id="tabs-search">
      <h2>参加者検索</h2>
      {% if meeting.accept_search %}
      <form id="form-search" action="search/">
        <input type="text" name="condition" placeholder="検索条件を入力して検索してください。" />
        <input type="submit" id="button-search" value="検索" />
      </form>
      <div id="table-search-result">
      </div>
      <div id="table-search-result-template">
        <div class="search-result-row">
          <div>
            <span class="group1"></span>
            <span class="name"></span>
          </div>
          <div>
            <span class="group2"></span>
          </div>
          <div>
            <span class="attendance1"></span>
            <span class="attendance2"></span
          </div>
        </div>
      </div>
      {% else %}
      <div>ただいま参加者検索は受け付けておりません</div>
      {% endif %}
    </div>
  </div>

</body>
</html>
