<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>{{ meeting.title }} はパスワードが必要です</title>
  <link type="text/css" rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <script src="{{ url_for('static', filename='password.js') }}"></script>
</head>
<body>

  <h1>{{ meeting.title }} はパスワードが必要です</h1>
  
  <form id="form-password" method="POST" action="login/">
    <input name="password">
    <input type="submit" id="button-password">
  </form>

</body>
</html>
