body {
  text-align: center;
  horizontal-align: center;
}

.inputSection {
  margin: 1ex .1em;
  padding: .5ex 1em .5ex .1em;
  box-shadow: 4px 4px 8px;
  
  text-align: left;
}

.inputItem {
  margin: 1ex;
  /* max-width: 40em; */
  horizontal-align: center;
}

input[type=text] {
  width: 100%;
}

input[type=text][name="zip1"] {
  width: 3em;
}

input[type=text][name="zip2"] {
  width: 4em;
}

input[type=submit] {
  width: 8em;
  background: pink;
}

textarea[name=message] {
  width: 100%;
  height: 10ex;
}

.error {
  background-color: red;
}

.errorMessage {
  color: red;
}

label.itemName {
  display: block;
  text-align: left;
}

.required label.itemName:after {
  content: "*";
  color: red;
  font-weight: bold;
}

div.search-result-row {
  margin: 1ex .1em;
  padding: .5ex 1em .5ex .1em;
  box-shadow: 4px 4px 8px;
}
